.container {
	height: 10vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 1em;
	align-items: center;
	justify-content: center;
}
a {
	text-decoration: none;
}
a:hover {
	border-bottom: 2px solid rgb(40, 142, 0);
}
ul {
	list-style: none;
}
.nav_center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}
.nav_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav_toggle {
	background: transparent;
	border: transparent;
	color:chartreuse;
	cursor: pointer;
}
.nav_links {
	display: none;
}
.cart_btn_wrapper {
	display: none;
}
@media (min-width: 992px) {
	.nav_toggle {
		display: none;
	}
	.nav_center {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
	}
	.nav_links {
		display: flex;
		justify-content: center;
	}

	.nav_links li {
		margin: 0 0.5rem;
	}

	.nav_links a {
		font-size: 1rem;
		text-transform: capitalize;
		letter-spacing: 0.5rem;
		padding: 1.5rem;
	}
	a:hover {
		border-bottom: 2px solid black;
	}

	.cart_btn_wrapper {
		display: grid;
	}
}
