.section {
	height: 80vh;
}
.single-page {
	min-height: calc(100vh - 5rem - 198px);
}
.page-info {
	max-width: 700px;
}
.page-info a {
	text-transform: uppercase;
	color: green;
	-webkit-transition: var(--transition);
	transition: var(--transition);
}
.page-info a:hover {
	color: pink;
}
.section-title {
	margin-bottom: 4rem;
	text-align: center;
}
.underline {
	width: 6rem;
	height: 0.25rem;
	background: #49a6e9;
	background: green;
	margin-left: auto;
	margin-right: auto;
}
button {
	padding: 0.25rem;
	margin-left: 1rem;
}
