/* ---------   GLOBAL CSS  -----------   */

* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}
:root {
	/* primary/main color */
	--clr-brown-light: hsl(21, 98%, 82%, 0.88);

	--clr-brown: hsla(21, 88%, 59%, 0.883);
	--clr-brown-dark: hsla(21, 46%, 47%, 0.85);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;

	/* Dark-Mode */
	--body_background: hsl(0, 0%, 95%);
	--body_background2: hsl(0, 0%, 100%);

	--body_color: rgb(255, 255, 255);
	--link_color: navy;
	--body_color_grey: hsl(0, 0%, 0%);
}
[data-theme='dark'] {
	--body_background: #282c34;
	--body_color_white: hsl(0, 0%, 100%);
	--body_color_brown: hsl(21, 48%, 57%);
	--body_color_black: hsl(0, 0%, 0%);
	--body_color_grey: hsl(0, 0%, 87%);
	--body_color: rgb(0, 0, 0);
	--body_background2: #484848;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: var(--body_background2);
}
.underline {
	width: 6rem;
	height: 0.25rem;
	background: #49a6e9;
	background: burlywood;
	margin-left: auto;
	margin-right: auto;
}

.slider-container {
	margin: 0 auto;
	margin-top: 5rem;
	width: 100vw;
	max-width: 900px;
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.slide {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s ease-in-out all;
}
.person-img {
	height: 300px;
	margin-bottom: 1rem;
	object-fit: cover;
	/* border: 4px solid red; */
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.name {
	text-transform: uppercase;
	color: black;
	margin-bottom: 0.75rem;
}
.title {
	text-transform: capitalize;
	color: rgb(124, 182, 6);
	margin: 2em 0 1em 0;
	text-align: center;
	font-size: 3em;
}
.text {
	max-width: 35em;
	margin: 0 auto;
	margin-top: 2rem;
	line-height: 2;
	color: rgb(190, 139, 0);
}
.icon {
	font-size: 3rem;
	margin-top: 1rem;
	color: rgb(22, 83, 0);
}
.prev,
.next {
	position: absolute;
	top: 200px;
	background: rgb(22, 83, 0);
	color: white;
	width: 1.5rem;
	height: 1.5rem;
	display: grid;
	place-items: center;
	border-color: transparent;
	border-radius: 10%;
	cursor: pointer;
	transition: 0.3s ease-in-out all;
}
.prev:hover,
.next:hover {
	background: greenyellow;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
@media screen and (min-width: 800px) {
	.text {
		max-width: 45em;
	}
	.prev,
	.next {
		width: 2rem;
		height: 2rem;
		font-size: 1.5rem;
	}
}
.next-slide {
	transform: translateX(100%);
}

/* ============= Navbar =============== */
.navContainer {
	background: var(--body_background2);
}
/* ============= Slick Carousel =============== */

.slick-slide img {
	display: inline-block;
}

.slick-prev::before {
	color: black !important;
}
.slick-next::before {
	color: black !important;
}

/* ---------- Animation --------------- */
@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
}