*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.slider-container {
  margin: 0 auto;
  margin-top: 10rem;
  width: 80vw;
  max-width: 800px;
  position: relative;
  height: 450px;
  overflow: hidden;
}
.slide {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out all;
}
.person-img {
  height: 300px; 
  margin-bottom: 1rem;
  object-fit:cover;
  /* border: 4px solid red; */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.name {
  text-transform: uppercase;
  color: black;
  margin-bottom: 0.75rem;
}
.title {
  text-transform: capitalize;
  color: grey;
  margin-bottom: 0.75rem;
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: grey;
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: rgb(18, 181, 48);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  background: rgb(65, 220, 9);
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.prev:hover,
.next:hover {
  background: greenyellow;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media screen and (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
.next-slide {
  transform: translateX(100%);
}

/* ============= Slick Carousel =============== */

.slick-container {
  margin: 0 auto;
  margin-top: 10rem;
  width: 80vw;
  max-width: 800px;
  text-align: center;
}
.slick-slide img {
  display: inline-block;
}

.slick-prev::before {
  color: black !important;
}
.slick-next::before {
  color: black !important;
}
